body{
    /* display: flex; */
    flex-direction: row;
    background-image: url("./cooooooooooooool.jfif");
    background-size: cover;
}
ol{
    margin-bottom: 10px;
    color: rgb(0, 217, 255);
}
li{
    background-color: rgba(187, 25, 19, 0.287);
}
div{
    display: flex;
}
